In [3]:
b = open('file1230.csv','w')
b.write("Name,Age,Address,phone\n")   

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address =  ")
    phone = int(input("Enter phone = "))
    info  = f"{name},{age},{add},{phone}\n"
    b.write(info)
b.close()

Enter n = 4
Enter name = pratibha
Enter age = 11
Enter address =  pokhara
Enter phone = 9802094402
Enter name = sabina
Enter age = 22
Enter address =  kathmandu
Enter phone = 9802076666
Enter name = pratik
Enter age = 33
Enter address =  palpa
Enter phone = 9860405013
Enter name = samrat
Enter age = 35
Enter address =  nuwakot
Enter phone = 9803455672

In [4]:
import pandas as pd
df = pd.read_csv('file1230.csv',nrows=5)
df#df is variable

       Name  Age    Address       phone
0  pratibha   11    pokhara  9802094402
1    sabina   22  kathmandu  9802076666
2    pratik   33      palpa  9860405013
3    samrat   35    nuwakot  9803455672

In [5]:
df['Name']#to display the name

0    pratibha
1      sabina
2      pratik
3      samrat
Name: Name, dtype: object

In [6]:
import pandas as pd#pd bhaneko chai object ho
df = pd.read_csv('file1230.csv',index_col ="phone")#yo chai pandas ko function ho.yesle chai 
df#df is variable

                Name  Age    Address
phone
9802094402  pratibha   11    pokhara
9802076666    sabina   22  kathmandu
9860405013    pratik   33      palpa
9803455672    samrat   35    nuwakot

In [1]:
import pandas as pd
df = pd.read_csv('file1230.csv',index_col = "Phone",usecols = ["Age","Name"])#phone chai first ma display hunxa ani name
df

ValueError: Index Phone invalid

In [11]:
#selecting rows
df.iloc[0:3,0:2]#2 bhaneko chai column ho 3 bhaneko chai row

                Name  Age
phone
9802094402  pratibha   11
9802076666    sabina   22
9860405013    pratik   33

In [15]:
import pandas as pd
df = pd.read_csv('file1230.csv',index_col = "Address")

df.iloc[9860405013:]

NameError: name 'nuwakot' is not defined

In [16]:
df[df["Name"]=='pratibha']

             Name  Age       phone
Address
pokhara  pratibha   11  9802094402

In [17]:
#Dataframe
import pandas as pd
data = {'1Names':['Ram','Shyam','Hari','Gita'],'2Address':['Kathmandu','Palpa','Bhaktapur','Kathmandu'],'3Age':[22,20,50,55]}

df = pd.DataFrame(data)
df.to_csv('books.csv')#df  chai csv ma gayera add hunxa
df.head()

  1Names   2Address  3Age
0    Ram  Kathmandu    22
1  Shyam      Palpa    20
2   Hari  Bhaktapur    50
3   Gita  Kathmandu    55

In [18]:
import pandas as pd
data1 = {'1Names':['Ram','Shyam','Hari','Gita'],'2Address':['Kathmandu','Palpa','Bhaktapur','Kathmandu'],'3Age':[22,20,50,55]}
data2 = {'1Names':['Ram1','Shyam1','Hari1','Gita2'],'2Address':['Kathmandu','Palpa','Bhaktapur','Kathmandu'],'3Age':[2,30,40,5]}

df1 = pd.DataFrame(data1)

df2 = pd.DataFrame(data2)
df = pd.concat([df1,df2])
df.to_csv('books.csv')#concat gareko kura lai books.csv ma lagera rakhxa
df.head(15)#yesle chai kati ota display garne bhanne ho

   1Names   2Address  3Age
0     Ram  Kathmandu    22
1   Shyam      Palpa    20
2    Hari  Bhaktapur    50
3    Gita  Kathmandu    55
0    Ram1  Kathmandu     2
1  Shyam1      Palpa    30
2   Hari1  Bhaktapur    40
3   Gita2  Kathmandu     5

In [ ]:
import pandas as pd
data1 =