In [3]:
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.



a = {'a':'Apple','b':'Ball'}
b = {'c':'Cat'}
b.update(a)
b

{'c': 'Cat', 'a': 'Apple', 'b': 'Ball'}

In [11]:
a = {1:{'name':'Ram','age':34},
     2:{'name':'Sita','age':34},
    3:{'name':'Hari','age':34}}
a[4] = {'name':'Shyam','age':32}
a

{1: {'name': 'Ram', 'age': 34},
 2: {'name': 'Sita', 'age': 34},
 3: {'name': 'Hari', 'age': 34},
 4: {'name': 'Shyam', 'age': 32}}

In [12]:
a = {1:{'name':'Ram','age':34},
     2:{'name':'Sita','age':34},
    3:{'name':'Hari','age':34}}
a[1] ['add'] = 'Nepal'
a

{1: {'name': 'Ram', 'age': 34, 'add': 'Nepal'},
 2: {'name': 'Sita', 'age': 34},
 3: {'name': 'Hari', 'age': 34}}

In [15]:
a = {}
n = int(input("Entet the no of rows = "))
for i in range(1,n+1):
    name = input("Enter the name = ")
    age = int(input("Enter the age = "))
    add = input("Enter address = ")
    a[i] = {'Name':name,'Add':add,'Age':age}
print(a)

Entet the no of rows = 2
Enter the name = ss
Enter the age = 11
Enter address = ee
Enter the name = aa
Enter the age = 111
Enter address = ff
{1: {'Name': 'ss', 'Add': 'ee', 'Age': 11}, 2: {'Name': 'aa', 'Add': 'ff', 'Age': 111}}

In [17]:
thisdict =	{
  "brand": "aa",
  "model": "bb",
  "year": 1964
}
print(thisdict)

{'brand': 'aa', 'model': 'bb', 'year': 1964}

In [19]:
a = {}
n = int(input("Entet the no of rows = "))
for i in range(1,n+1):
    name = input("Enter the name = ")
   
    math = int(input("Enter the marks of math = "))
    c = int(input("Enter the marks of c = "))
    oop = int(input("Enter the marks of oop = "))
    daa = int(input("Enter the marks of daa = "))
    ir = int(input("Enter the marks of ir = "))
    
    a[i] = {'Name':name,'Math':math,'C':c,'OOP':oop,'DAA':daa,'IR':ir}
print(a)

Entet the no of rows = 2
Enter the name = aa
Enter the marks of math = 11
Enter the marks of c = 22
Enter the marks of oop = 33
Enter the marks of daa = 44
Enter the marks of ir = 55
Enter the name = aa
Enter the marks of math = 11
Enter the marks of c = 22
Enter the marks of oop = 44
Enter the marks of daa = 55
Enter the marks of ir = 66
{1: {'Name': 'aa', 'Math': 11, 'C': 22, 'OOP': 33, 'DAA': 44, 'IR': 55}, 2: {'Name': 'aa', 'Math': 11, 'C': 22, 'OOP': 44, 'DAA': 55, 'IR': 66}}

In [20]:
a = {}
n = int(input("Entet the no of rows = "))
for i in range(1,n+1):
    name = input("Enter the name = ")
   
    math = int(input("Enter the marks of math = "))
    c = int(input("Enter the marks of c = "))
    oop = int(input("Enter the marks of oop = "))
    daa = int(input("Enter the marks of daa = "))
    ir = int(input("Enter the marks of ir = "))
    total = [math,c,oop,daa,ir]
    
    
    a[i] = {'Name':name,'Math':math,'C':c,'OOP':oop,'DAA':daa,'IR':ir,'Total':sum(total)}
print(a)

Entet the no of rows = 2
Enter the name = aa
Enter the marks of math = 11
Enter the marks of c = 22
Enter the marks of oop = 44
Enter the marks of daa = 55
Enter the marks of ir = 66
Enter the name = ss
Enter the marks of math = 22
Enter the marks of c = 44
Enter the marks of oop = 55
Enter the marks of daa = 66
Enter the marks of ir = 88
{1: {'Name': 'aa', 'Math': 11, 'C': 22, 'OOP': 44, 'DAA': 55, 'IR': 66, 'Total': 198}, 2: {'Name': 'ss', 'Math': 22, 'C': 44, 'OOP': 55, 'DAA': 66, 'IR': 88, 'Total': 275}}

In [24]:
#dictiobary iside dictionary
a = {}
na = []
mat = []
c = []
oop = []
daa = []
ir = []
tota = []


n = int(input("Entet the no of rows = "))
for i in range(1,n+1):
    name = input("Enter the name = ")
   
    math = int(input("Enter the marks of math = "))
    c = int(input("Enter the marks of c = "))
    oop = int(input("Enter the marks of oop = "))
    daa = int(input("Enter the marks of daa = "))
    ir = int(input("Enter the marks of ir = "))
    total = [math,c,oop,daa,ir]
    na.append(name)
    mat.append(math)
    c.append(c)
    oop.append(oop)
    daa.append(daa)
    ir.append(ir)
    totaal.append(total)
    
    

print(a)

Entet the no of rows = 2
Enter the name = aa
Enter the marks of math = 1
Enter the marks of c = 2
Enter the marks of oop = 3
Enter the marks of daa = 4
Enter the marks of ir = 5

AttributeError: 'int' object has no attribute 'append'

In [26]:
#list inside dict
na = []
mat = []
c = []
oop = []
daa = []
ir = []
tota = []


n = int(input("Enter the no of rows = "))
for i in range(1,n+1):
    name = input("Enter the name = ")
   
    math = int(input("Enter the marks of math = "))
    cc = int(input("Enter the marks of c = "))
    oo = int(input("Enter the marks of oop = "))
    da = int(input("Enter the marks of daa = "))
    i = int(input("Enter the marks of ir = "))
    total = [math,cc,oo,da,i]
    na.append(name)
    mat.append(math)
    c.append(cc)
    oop.append(oo)
    daa.append(da)
    ir.append(i)
    tota.append(total)
a = {'Name':na,'Math':mat,'C':c,'OOP':oop,'DAA':daa,'IR':ir,'Total':tota}
print(a)

Enter the no of rows = 2
Enter the name = aa
Enter the marks of math = 22
Enter the marks of c = 44
Enter the marks of oop = 55
Enter the marks of daa = 66
Enter the marks of ir = 77
Enter the name = ss
Enter the marks of math = 33
Enter the marks of c = 44
Enter the marks of oop = 55
Enter the marks of daa = 66
Enter the marks of ir = 77
{'Name': ['aa', 'ss'], 'Math': [22, 33], 'C': [44, 44], 'OOP': [55, 55], 'DAA': [66, 66], 'IR': [77, 77], 'Total': [[22, 44, 55, 66, 77], [33, 44, 55, 66, 77]]}