In [1]:
#range bhanne fun hunxa  for loop ma hamle yesma kaam garxam.

In [2]:
#range()
#for i in range(10)
#for i in range(1,10)
#for i in range(1,10,2)

In [2]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

#### for i in range(1,5):
    print(i,"Hello World")

In [8]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [10]:
n = int(input("Enter any number="))
for i in range(1,11):
    print(n*i)

Enter any number=6
6
12
18
24
30
36
42
48
54
60

In [3]:
n = int(input("Enter any number = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter any number = 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [1]:
x = 0
n = int(input("Enter any value of n = "))
for i in range (n):
    y = int(input("Enter any value of y= "))
    x= x+y
print("The total value is = ",x)
print("The average value is = ",x/n)

Enter any value of n = 6
Enter any value of y= 3
Enter any value of y= 4
Enter any value of y= 5
Enter any value of y= 6
Enter any value of y= 7
Enter any value of y= 4
The total value is =  29
The average value is =  4.833333333333333

In [4]:
x = 1
n = int(input("Enter any value of n = "))
for i in range (1,n+1):
 
    x= x*i
    print(x)

Enter any value of n = 5
1
2
6
24
120

In [ ]:
def add(a,b):
    print(a+b)
n = int(input("Enter any value of n = "))
for i in range(n):
    a = int(input("Enter  a = "))
    b = int(input("Enter  b = "))
    add(a,b)

Enter any value of n = 10
Enter  a = 12
Enter  b = 12
24

In [2]:
for i in range (1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
n = int(input("Enter the value of n = "))
for i in range (1,11):
    print(i,"*",n,"=",n*i)

Enter the value of n = 12
1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120

In [9]:
for i in range(1,13):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [4]:
for i in (1,5,2):
    print(i)

1
5
2

In [6]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [7]:
range(5)

range(0, 5)

In [8]:
range(1,4)

range(1, 4)

In [10]:
range(1,4,6)

range(1, 4, 6)

In [16]:
a = "Hello World \n"
print(a*4)

Hello World
Hello World
Hello World
Hello World

In [23]:
sum = 0
n = int(input("enter the value of n = "))
for i in range(n):
    a = int(input("enter the value of a = "))
    sum = sum+a
print("Sum", sum)

enter the value of n = 2
enter the value of a = 12
enter the value of a = 12
Sum 24

In [25]:
sum = 0
n = int(input("enter the value of n = "))
for i in range(n):
    a = int(input("enter the value of a = "))
    sum = sum+a
print("Sum", "=",sum)

enter the value of n = 2
enter the value of a = 12
enter the value of a = 12
Sum = 24

In [31]:
b = 0
n = int (input("Enter the value of n = "))
for i in range(n):
    s = int(input("Enter the value of s = "))
    a = sum+b
print( "Sum" "=" ,a)

Enter the value of n = 3
Enter the value of s = 12
Enter the value of s = 12
Enter the value of s = 12
Sum= 24

In [43]:
n = int(input("Enter the value of n = "))
for i in range(0,10):
    print(i ," *", n, "=", i*n)

Enter the value of n = 12
0  * 12 = 0
1  * 12 = 12
2  * 12 = 24
3  * 12 = 36
4  * 12 = 48
5  * 12 = 60
6  * 12 = 72
7  * 12 = 84
8  * 12 = 96
9  * 12 = 108

In [48]:
a = "Hello World"
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [61]:
#Factorial
# 1*2*3*4*5
y = 1
n = int(input("Enter value of n = "))
for i in range(1,n+1):
    y = y*i
print(y)

Enter value of n = 24
620448401733239439360000

In [ ]:
a = ('Apple','Ball','Banana','Cat')
for i in  a:
    print(i)