In [1]:
def volume(x):
    l,b,h = x
    print("The volume is = ",l*b*h)
x = [12,23,4]
volume(x)

The volume is =  1104

In [5]:
def area(a):
    l,b = a
    print("The area is = ",l*b)
a = [12,12]
area(a)

The area is =  144

In [7]:
#remove 
#delete
a = ['Apple','Ball','Cat','Dog','Fish']
del a[0]
a

['Ball', 'Cat', 'Dog', 'Fish']

In [6]:
#delete
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
del a[:3]
a

['Dog', 'Fish', 'Apple']

In [10]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
a.remove('Apple')
a

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [7]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
del a[1:2]
a

['Apple', 'Cat', 'Dog', 'Fish', 'Apple']

In [16]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
del a[0:2:3]
a

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [17]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
b = 'Apple'
x = a.count('Apple')
for i in range(x):
    a.remove(b)
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [18]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
b = 'Apple'
x = a.count('Apple')
for i in range(x-1):
    a.remove(b)
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [ ]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
b =input("Enter any value for replace = " )
x = a.count('Apple')
for i in range(x-1):
    a.remove(b)
print(a)

In [ ]:
#index le ekpatak ma euta matra value return garxa 
a = ['Apple','Ball','cat','Apple','Dog','Fish','Apple']
b = input("Enter what to replace = ")
c = input("Enter replace string = ")
x = a.count(b)
for i in range(x):
    index = a.index(b)
    a[index] = c
    print(a)

In [1]:
#list inside list
a = [[],[],[]]
len(a)

3

In [7]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
len(a)
print(a[0])
print(a[0][0])

[1, 2, 3]
1

In [9]:
info = []#empty list definne gareko
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    address =input ("enter address = ")
    age =int(input("enter age = "))
    info.append([name,address,age])
print(info)

enter n = 2
enter name = asd
enter address = hjfh
enter age = 12
enter name = sdfg
enter address = asdfgthy
enter age = 123
[['asd', 'hjfh', 12], ['sdfg', 'asdfgthy', 123]]

In [15]:
info = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    address =input ("enter address = ")
    age =int(input("enter age = "))
    info.append([i,name,address,age])#i+1 bhaneko chain indexing deko ho hamle and  i bata strat huda chai 0 bta start hunxa 
print(info)

enter n = 2
enter name = asd
enter address = sdfg
enter age = 12
enter name = sdfghj
enter address = werty
enter age = 23
[[0, 'asd', 'sdfg', 12], [1, 'sdfghj', 'werty', 23]]

In [ ]:
#value read garne 
x = int(input("enter roll = "))
print(info[x-1])

In [5]:
#result print
result = [] 
n = int(input("Enter the number of student"))
for i in range(n):

    name = input("Enter the name of student = ") 
    c = int(input("Enter the marks of c = "))
    oop = int(input("Enter the marks of oop = "))
    compiler = int(input("Enter the marks of compiler = "))
    db = int(input("ENter the marks of db = "))
    ir = int(input("Enter the marks of ir = " ))
    total = sum([c,oop,compiler,db,ir])

    percentage = total/5
    result.append([i,c,oop,compiler,db,ir,total,percentage])
print(result)

Enter the number of student2
Enter the name of student = a
Enter the marks of c = 12
Enter the marks of oop = 23
Enter the marks of compiler = 33
ENter the marks of db = 35
Enter the marks of ir = 23
Enter the name of student = aa
Enter the marks of c = 23
Enter the marks of oop = 34
Enter the marks of compiler = 56
ENter the marks of db = 67
Enter the marks of ir = 78
[[0, 12, 23, 33, 35, 23, 126, 25.2], [1, 23, 34, 56, 67, 78, 258, 51.6]]