In [1]:
a = "Hello World"
a

'Hello World'

In [2]:
a = "Hello World"
print(a)

Hello World

In [3]:
a = 2
b = 3
a+b

5

In [4]:
a = 2
b = 3
print(a+b)

5

In [5]:
a = {1,2,3,4}
print(a)

{1, 2, 3, 4}

In [6]:
print(type(a))

<class 'set'>

In [7]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [8]:
a = 12
b = 12
a*b

144

In [9]:
a**b

8916100448256

In [10]:
l = 11
b = 11
print(l+b)

22

In [11]:
#function

def cal():
    print("Hello World")
cal()

Hello World

In [12]:
def Area():
    l = int(input("Enter the value of l = "))
    b = int(input("Enter the value of b = "))
    
    print("The area is = ",l*b)
Area()

Enter the value of l =

ValueError: invalid literal for int() with base 10: ''

In [14]:


l = int(input("Enter the value of l = "))
b = int(input("Enter the value of b = "))
h = int(input("Enter the value of h = "))
 
def Area():
   

    
    print("The area is = ",l*b)
def Volume():
    print("The volume is = ",l*b*h)
    
Area()
Volume()

Enter the value of l = 10
Enter the value of b = 11
Enter the value of h = 13
The area is =  110
The volume is =  1430

In [15]:


 
def Area():
    l = int(input("Enter the value of l = "))
    b = int(input("Enter the value of b = "))
    h = int(input("Enter the value of h = "))
   

    
    print("The area is = ",l*b)
def Volume():
    
    print("The volume is = ",l*b*h)
    
Area()
Volume()

Enter the value of l = 11
Enter the value of b = 2
Enter the value of h = 3
The area is =  22
The volume is =  1430

In [3]:
def simpleintrest():
    p = int(input("Enter the value of p = "))
    t = int(input("Enter the value of t = "))
    r = int(input("Enter the value of r = "))
    si = p*t*r/100
    
    print("The simple intrest is = ",si)
    
simpleintrest()

Enter the value of p = 200000
Enter the value of t = 2
Enter the value of r = 24
The simple intrest is =  96000.0

In [17]:
def info():
    name = input("Enter the name = ")
    age = int(input("Enter the age = "))
    address = input("Enter the address = ")
    
info()

Enter the name = pratibha
Enter the age = 11
Enter the address = kk

In [18]:
def intro():
    a = input("hello i am ")
    b = input("i live in")
    print("hello i am",a  +  " i live in",b)
intro()

hello i am pratibha
i live inktm
hello i am pratibha i live in ktm

In [19]:
def info():
    name = input("Enter the name = ")
    age = int(input("ENter the age = "))
    print("Enter the name ",name + "ENter the age ",age)
info()

Enter the name = pp
ENter the age = 11
Enter the name  ppENter the age  11

In [20]:
def info():
    name = input("Enter the name = ")
    age = int(input("ENter the age = "))
    print("My name is",name +  " i am  ",age)
info()

Enter the name = pratibha
ENter the age = 11
My name is pratibha i am   11

In [21]:
def info():
    name = input("Enter the name = ")
    age = int(input("ENter the age = "))
    address = input("Enter the address = ")
    print("My name is",name +  " i am  ",age,"I am from",address)
info()

Enter the name = hsdgsh
ENter the age = 1
Enter the address = kdjgf
My name is hsdgsh i am   1 I am from kdjgf

In [22]:
def Area(l,b):
    l = int(input("Enter the l = "))
    b = int(input("ENter the b = "))
    print("The area is = ",l*b)
Area(l,b)

Enter the l = 11
ENter the b = 22
The area is =  242

In [ ]:
def cal():
    a = int(input("ENter a = "))
    b = int(input("Enter b = "))
    o = input("ENter o(+,-,*,/)")
    if o == '+':
        print(a+b)
    elif o =='-':
        print(a-b)
    elif o =='*':
        print(a*b)
    elif o =='/':
        print(a/b)
        
    else:
        print("Invalid operator")
        
        
x = input("Enter y for more calculations ")
if x =='y':
    cal()
cal()

Enter y for more calculations y
ENter a = 11
Enter b = 22
ENter o(+,-,*,/)+
33

In [ ]:
def cal():
    a = int(input("ENter a = "))
    b = int(input("Enter b = "))
    o = input("ENter o(+,-,*,/)")
    if o == '+':
        print(a+b)
    elif o =='-':
        print(a-b)
    elif o =='*':
        print(a*b)
    elif o =='/':
        print(a/b)
        
    else:
        print("Invalid operator")
        
        
x = input("Enter y for more calculations ")
if x =='y':
    cal()
cal()

In [ ]:
def cal():
    a = int(input("ENter a = "))
    b = int(input("Enter b = "))
    o = input("ENter o(+,-,*,/)")
    if o == '+':
        print(a+b)
    elif o =='-':
        print(a-b)
    elif o =='*':
        print(a*b)
    elif o =='/':
        print(a/b)
        
    else:
        print("Invalid operator")

In [ ]:
def cal():
    a = int(input("Enter the value of a = "))
    b = int(input("Enter the value of b = "))
    
    o = input("Enter o(+,-,*,/)")
    
    if o == '+':
        print(a+b)
    elif o=='-':
        print(a-b)
    elif o =='*':
        print(a*b)
    elif o =='/':
        print(a/b)
    else:
        print("Invalid operator")
cal()

In [ ]:
def add(a,b):
    return(a+b)
def sub(a,b):
    return(a-b)
def mul(a,b):
    return(a*b)
def div(a,b):
    return(a/b)

def cal():
    a = int(input("Enter the value of a = "))
    b = int(input("Enter the value of b = "))
    c = input("Enter c(+,-,*,/)")
    
    if c =='+':
        print(a+b)
    elif c =='-':
        print(a-b)
    elif c =='*':
        print(a*b)
    elif c =='/':
        print(a/b)
    else:
        print("Invalid operator")
cal()

In [ ]:
import math as m
m.pi

In [ ]:
import math as m
r = int(input("Enter the value of r = "))

a = m.pi*(m.pow(r,2))

print("THe area is = ",a)

In [ ]:
import math as m
a = m.pow(2,2)
a

In [ ]:
import math as m
a = m.pow(2,3)
a

In [ ]:
import math as m
a = m.pow(8,9)
a

In [ ]:
m.factorial(2)

In [ ]:
m.factorial(33)

In [ ]:
m.factorial(5)

In [ ]:
import math as m
m.pi

In [2]:
import math as m
m.pow(2,5)

32.0

In [3]:
import  math as m
x = m.sin(m.pi/2)
y = m.cos(m.pi/2)
m.pow(x,2)+m.pow(y,2)

1.0

In [4]:
import math as m
x = m.sin(m.pi/2)
m.pow(x,2)

1.0

In [6]:
import math as m
y = m.cos(m.pi/2)
m.pow(y,2)

3.749399456654644e-33

In [7]:
import  math as m
x = m.sin(m.pi/2)
y = m.cos(m.pi/2)
m.pow(x,2)+m.pow(y,2)

1.0

In [8]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [9]:
for i in range(5):
    print(i,"Helllo World")

0 Helllo World
1 Helllo World
2 Helllo World
3 Helllo World
4 Helllo World

In [16]:
a = "Hello world\n"
print(a*6)

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [15]:
a = "Hello World\n"
print(a*5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [19]:
a = "Hello world"
a * 6

'Hello worldHello worldHello worldHello worldHello worldHello world'

In [ ]:
i = ''
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter the name = ")
    address = (input("Enter the address = "))
    
    a = name +address
    i = i+" "+a
print(i)

In [ ]:
u = ""
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter name = ")
    u = u+" "+x
print(u)

In [ ]:
n = int(input("Enter the value of n = "))
u = " "
for i in range(n):
    name = input("Enter the name = ")
    address = input("Enter the address = ")
    age = int(input("Enter the age = "))
    
    u = u + "name"+"address"+"age"
print(u)

In [3]:
a = open("bb.txt","x")
a.close()

FileExistsError: [Errno 17] File exists: 'bb.txt'

In [2]:
b = open("file111.txt","x")
b.close()

In [4]:
a = open("bb.txt","w")
a.write("My name is Pratibha Nepal")
a.close()

In [10]:
a = open("bb.txt","r")
print(a.readline())
print(len("bb.txt"))
a.close()

My name is Pratibha Nepal
6
bb.tx

In [18]:


        
        
        
a = open("bb.txt","r")        
for i in range(1):

    
    print(len("bb.txt"))
    
    if len("bb.txt >=2"):
        print("Even")
    else:
        print("Error")
a.close()

6
Even

In [5]:
a = "Hello World"
print(a[0:5])

Hello

In [2]:
a = "Hello World"
print(a[-1])

d

In [3]:
a = "Hello World"
print(a[-2])

l

In [9]:
n = int(input("ENter the value of n = "))
u = " "
def info():
    
    

    for i in range(n):
        
        name = input("Enter the name = ")
        address = input("Enter address = ")
        u = f"{name} {address}"
        print(u)
info()

ENter the value of n = 2
Enter the name = Pratibha
Enter address = KApna
Pratibha KApna
Enter the name = jadg
Enter address = yiduf
jadg yiduf

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for i in range:
    a = "Hello World"
    print(i)

TypeError: 'type' object is not iterable

In [19]:
a = ()
n = int(input("Enter the no of elements = "))
for i in range(n):
    name = input("Enter name = ")
    address = input("Enter the address = ")
    age = int(input("ENter the value of age = "))
    
    a = f"{name},{address},{age}"
    print(a)

SyntaxError: invalid syntax (<ipython-input-19-0db310b5b049>, line 8)

In [20]:
a = []
n = int(input("Enter the no of elements = "))
for i in range(n):
    name = input("Enter name = ")
    address = input("Enter the address = ")
    age = int(input("ENter the value of age = "))
    
    a = f"{name},{address},{age}"
    print(a)

Enter the no of elements = 2
Enter name = jdg
Enter the address = smdb
ENter the value of age = 2
jdg,smdb,2
Enter name = ad,hsbf
Enter the address = jd
ENter the value of age = 11
ad,hsbf,jd,11

In [22]:
a = [ ]
n = int(input("ENter n = "))
for i in range(n):
    name = input("Enter name = ")
    address = input("Enter address = ")
    
    a = a + [f"{name},{address}"]
    print(a)

ENter n = 1
Enter name = shg
Enter address = fh
['shg+fh']

In [23]:
a = ["apple"]
a.append("ball")
print(a)

['apple', 'ball']

In [24]:
a = ["apple"]
a.append("ball")
a

['apple', 'ball']

AttributeError: 'list' object has no attribute 'replace'

In [26]:
a = [ ]
n = int(input("ENter n = "))
for i in range(n):
    name = input("Enter name = ")
    address = input("Enter address = ")
    a.append(name)
    a.append(address)
    print(a)

ENter n = 2
Enter name = asg
Enter address = fjdf
['asg', 'fjdf']
Enter name = jdgdmncb
Enter address = sjdsgh
['asg', 'fjdf', 'jdgdmncb', 'sjdsgh']

In [6]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    grade = int(input("Enter class = "))
    c = int(input("Enter the marks of c = "))
    oop = int(input("Enter tye marks of oop = "))
    ir = int(input("Enter the marks of ir = "))
    
    info.append([name,grade,c,oop,ir])
    print(info)

Enter n = 2
Enter name = shdv
Enter class = 1
Enter the marks of c = 22
Enter tye marks of oop = 33
Enter the marks of ir = 44
[['shdv', 1, 22, 33, 44]]
Enter name = wjhdg
Enter class = 2
Enter the marks of c = 111
Enter tye marks of oop = 22
Enter the marks of ir = 33
[['shdv', 1, 22, 33, 44], ['wjhdg', 2, 111, 22, 33]]

In [1]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    grade = int(input("Enter class = "))
    c = int(input("Enter the marks of c = "))
    oop = int(input("Enter tye marks of oop = "))
    ir = int(input("Enter the marks of ir = "))
    total = sum([c,oop,ir])
    
    info.append([name,grade,c,oop,ir,total])
    print(info)

Enter n = 2
Enter name = Jsg
Enter class = 1
Enter the marks of c = 22
Enter tye marks of oop = 222
Enter the marks of ir = 222
[['Jsg', 1, 22, 222, 222, 466]]
Enter name = hzjx
Enter class = 2
Enter the marks of c = 33
Enter tye marks of oop = 44
Enter the marks of ir = 55
[['Jsg', 1, 22, 222, 222, 466], ['hzjx', 2, 33, 44, 55, 132]]

In [3]:
a = []

b = int(input("Enter b = "))
a.append(b)
print(a)

Enter b = 1
[1]

In [5]:
a = []
n = int(input("Enter n = "))
for i in range(n):

    b = int(input("Enter b = "))
    a.append(b)
    print(a)

Enter n = 5
Enter b = 1
[1]
Enter b = 2
[1, 2]
Enter b = 3
[1, 2, 3]
Enter b = 4
[1, 2, 3, 4]
Enter b = 5
[1, 2, 3, 4, 5]

In [10]:
a = []
a.append("dd")
a.append("cc")
a

['dd', 'cc']

In [8]:
a = [1,2,3]
a.replace[1:4]
a

AttributeError: 'list' object has no attribute 'replace'

In [9]:
a = []
n = int(input("enter n = "))
for i in range(n):
    b = int(input("Enter b = "))
    
    a = a +[b]
    
    print(a)

enter n = 5
Enter b = 1
[1]
Enter b = 2
[1, 2]
Enter b = 3
[1, 2, 3]
Enter b = 4
[1, 2, 3, 4]
Enter b = 6
[1, 2, 3, 4, 6]

In [15]:
a = []
n = int(input("enter n = "))
for i in range(n):
    b = int(input("Enter b = "))
    
    a = a +[b]
print("The sum is = ",sum(a))
print("The average value is = ",sum(a)/n)
print("The maximum value is = ",max(a))
print("The manimum value is = ",min(a))

enter n = 5
Enter b = 33
Enter b = 22
Enter b = 33
Enter b = 55
Enter b = 66
The sum is =  209
The average value is =  41.8
The maximum value is =  66
The manimum value is =  22

In [14]:
a = []
n = int(input("enter no of elements = "))
for i in range(n):
    b = int(input("enter value ="))
    a = a+[b]
print("The sum is = ",sum(a))
print("The average value is = ",sum(a)/n)
print("The maximum value is = ",max(a))
print("The manimum value is = ",min(a))

a.sort()
print("The sorted value is = ",a)

enter no of elements = 5
enter value =11
enter value =22
enter value =3
enter value =4
enter value =5
The sum is =  45
The average value is =  9.0
The maximum value is =  22
The manimum value is =  3
The sorted value is =  [3, 4, 5, 11, 22]

In [17]:
a = ["Apple","Ball","Cat"]
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 1

In [19]:
a = ["Apple","Ball","Cat"]
if "d" in a:
    print("Yes",a.count("d"))
else:
    print("No")

No

In [21]:

a = [1,2,3,4,1,2,5,3,4,5,6,7]
a

[1, 2, 3, 4, 1, 2, 5, 3, 4, 5, 6, 7]

In [25]:

a = [1,2,3,4,1,2,5,3,4,5,6,7,5]
a.count(5)

3

In [26]:
type(a)

list

In [28]:
a.append(22)
a

[1, 2, 3, 4, 1, 2, 5, 3, 4, 5, 6, 7, 5, 22, 22]

In [29]:
a.insert(1,33)
a

[1, 33, 2, 3, 4, 1, 2, 5, 3, 4, 5, 6, 7, 5, 22, 22]

In [30]:
a.replace(2,0)
a

AttributeError: 'list' object has no attribute 'replace'

In [2]:
info = []
def Cal():
    n = int(input("enter n = "))
    for i in range(n):
        name = input("Enter name = ")
        address = input("Enter address = ")
        c = int(input("Enter marks of c = "))
        ir = int(input("Enter marks of ir = "))
        oop = int(input("Enter marks of oop = "))
        total = sum([c,ir,oop])
        percentage = total/3
        info.append([name,address,c,ir,oop,total,percentage])
        
        
        print(info)
Cal()

enter n = 1
Enter name = shdg
Enter address = djfg
Enter marks of c = 11
Enter marks of ir = 222
Enter marks of oop = 44
[['shdg', 'djfg', 11, 222, 44, 277, 92.33333333333333]]

In [4]:
def  Cal():
    p =int(input("Enter p = "))
    t = int(input("Enter t = "))
    r = int(input("Enter r = "))
    si = p*r*r/100
    
    print("The simpleintrest is = ",si)
Cal()

Enter p = 1000
Enter t = 2
Enter r = 20
The simpleintrest is =  4000.0

In [5]:
def Area():
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))
    print("The area is = ",a*b)
Area()

Enter a = 10
Enter b = 10
The area is =  100

In [9]:
a = (1,2,3,4)
a

(1, 2, 3, 4)

In [10]:
type(a)

tuple

In [11]:
a = (1,2,3,4)
b = (1,4,5,6)
a+b

(1, 2, 3, 4, 1, 4, 5, 6)

In [12]:
a =(12,1)
b = (12,2)
a*b

TypeError: can't multiply sequence by non-int of type 'tuple'

In [13]:
a = ("Apple","ball","cat")
if "Apple"in a:
    print("Yes",a.count("Apple"))
else:
    print("No")

Yes 1

In [19]:
def cal(x):
    l,b,h = x
    print(l*b*h)
x = (2,3,4)
cal(x)

24

In [20]:
def cal(x):
    l,b,h = x
    print(l*b*h)
x = (2,3,4)
cal(x)

24

In [21]:
a = ((1,2,3),(2,3,4),(111,2,5))
len(a)

3

In [22]:
type(a)

tuple

In [26]:
a = (8,9,0)
b = (1,2,3)
c = (4,5,7)
(a,)+(b,)+(c,)

((8, 9, 0), (1, 2, 3), (4, 5, 7))

In [30]:
a = ()
name = input("enter name = ")
address = input("enter address = ")
age = int(input("enter age = "))
c = (name,address,age)
a = (c,)+a
print(a)

enter name = jhf
enter address = kdh
enter age = 1
(('jhf', 'kdh', 1),)

In [32]:
a = (1,2,3,4)
list(a)

[1, 2, 3, 4]

In [33]:

a = ()
name = input("enter name = ")
address = input("enter address = ")
age = int(input("enter age = "))
c = [name,address,age]
a = (c,)+a
print(a)

enter name = Pratibha
enter address = ktm
enter age = 11
(['Pratibha', 'ktm', 11],)

In [41]:
result = []
n = int(input("enter n = "))
for i in range(n):
    name = input("Enter name = ")
    grade = int(input("Enter class = "))
    physics = int(input("Enter physics = "))
    oop = int(input("Enter oop = "))
    ir = int(input("Enter ir = "))
    total = sum([physics,oop,ir])
    percentage = total/3
    result.append([name,grade,physics,oop,ir,total,percentage])
print(result)

enter n = 2
Enter name = Pratibha
Enter class = 11
Enter physics = 22
Enter oop = 33
Enter ir = 44
Enter name = Pratik
Enter class = 13
Enter physics = 33
Enter oop = 44
Enter ir = 555
[['Pratibha', 11, 22, 33, 44, 99, 33.0], ['Pratik', 13, 33, 44, 555, 632, 210.66666666666666]]

In [43]:
result = []
n = int(input("enter n = "))
for i in range(n):
    name = input("Enter name = ")
    grade = int(input("Enter class = "))
    physics = int(input("Enter physics = "))
    oop = int(input("Enter oop = "))
    ir = int(input("Enter ir = "))
    total = sum([physics,oop,ir])
    percentage = total/3
    result.append([name,grade,physics,oop,ir,total,percentage])

tuple(result)

enter n = 1
Enter name = gfd
Enter class = 1
Enter physics = 22
Enter oop = 33
Enter ir = 44

(['gfd', 1, 22, 33, 44, 99, 33.0],)

In [44]:
a = "Hello World"
a

'Hello World'

In [49]:
a = "Hello"
b = " World"
a + b

'Hello World'

In [50]:
type(a)

str

In [52]:
a = " "
for i in range(2):
    name = input("Enter name = ")
    age = int(input("enter age = "))
    address = input("enter address = ")
    a= a+"name"+"age"+"address"
print(b)

Enter name = jkgf
enter age = 2
enter address = djgh
Enter name = reuy
enter age = 22
enter address = jmgf
 nameageaddress

In [55]:
a = " "
for i in range(2):
    name = input("Enter name = ")
    age = int(input("enter age = "))
    address = input("enter address = ")
    a= a+f"{name},{age},{address}"
print(a)

Enter name = ksjgf
enter age = 1
enter address = dkgh
Enter name = itu
enter age = 2
enter address = kdjfh
 ksjgf,1,dkghitu,2,kdjfh

In [59]:
a = "a,b,c,d,e"
a.replace('a','aa')

'aa,b,c,d,e'

In [60]:
a = "Hello World"
a.split()

['Hello', 'World']

In [65]:
a = " Hello  World"
a*3

' Hello  World Hello  World Hello  World'

In [68]:
a.split("l")

[' He', '', 'o  Wor', 'd']

In [3]:
a = " "
name = input("Enter name = ")
address = input("Enter address = ")
age = int(input("Enter age = "))
a = a+f"{name},{address},{age}"
print(a)

Enter name = sjhdg
Enter address = lfkh
Enter age = 1
 sjhdg,lfkh,1

In [4]:


a = {'a':'Apple','b':'Ball'}
b = {'c':'Cat'}
b.update(a)
b

{'c': 'Cat', 'a': 'Apple', 'b': 'Ball'}

In [6]:


a = {'1':'Apple','3':'Ball'}
b = {'2':'Cat'}
b.update(a)
b

{'2': 'Cat', '1': 'Apple', 3: 'Ball'}

In [9]:
a = {1:{'name':"Ram",'age':"11"},
    2:{'name':"Sita","age":'12'}}
a

{1: {'name': 'Ram', 'age': '11'}, 2: {'name': 'Sita', 'age': '12'}}

In [10]:
a[4]= {'name':"Shyam",'age':"22"}
a

{1: {'name': 'Ram', 'age': '11'},
 2: {'name': 'Sita', 'age': '12'},
 4: {'name': 'Shyam', 'age': '22'}}

In [11]:
a[1]= {'add':"Kathmandu"}
a

{1: {'add': 'Kathmandu'},
 2: {'name': 'Sita', 'age': '12'},
 4: {'name': 'Shyam', 'age': '22'}}

In [12]:
a[1]['age']='22'
a

{1: {'add': 'Kathmandu', 'age': '22'},
 2: {'name': 'Sita', 'age': '12'},
 4: {'name': 'Shyam', 'age': '22'}}

In [ ]:
n = int(input("Enter n = "))
a = []
for i in range(n):
    name = input("Enter name = ")
    address = input("Enter address = ")
    age = int(input("Enter age = "))
    a =  f"{name},{address},{age}"
print(a)

Enter n = 1

In [10]:
a = open("pp1.txt",'x')
a.close()

In [1]:
a = open("pp1.txt",'w')
a.write("This is my first python program")
a.close()

In [2]:
a = open("pp1.txt","r")
print(a.readline())
i = 0
while(i<0):
    print()
a.close()

This is my first python program

In [2]:
a = open("pp1.txt","r")
i = 0
print('odd character')
while(i<len(a)):
    print(a[i])
    i = i+2
a.close()

odd character

TypeError: object of type '_io.TextIOWrapper' has no len()

In [9]:
a = open("pp1.txt","r")
i = 0
print('odd character')
while(i<a):
    print(a[i])
    i = i+2
a.close()

odd character

TypeError: '<' not supported between instances of 'int' and '_io.TextIOWrapper'

In [14]:
i =" Please insert characters "
#Index through the entire string
for index in range(len(i)):
    #Check if odd 
    if(index % 2 == 0):
        #print even characters
        print(i[index])

l
a
e
i
s
r

h
r
c
e
s

In [ ]:
f1 = open('pp1.txt')
f2 = open('Output.txt', 'w')
f2.write(abcd)

Lines=f1.readlines()
searchquery = 'am\n'
i=0

while i < 500:
    if Lines[i] == searchquery:
        f2.write(Lines[i])
        f2.write(Lines[i+1])
        f2.write(Lines[i+2])
        i = i+1
else:
    i = i+1
f1.close()
f2.close()