In [1]:
#defined by {} .it is a changeable data type
#yesma value haru matra hunxa
#set le index  and dublicate no support gardaina.
#set bhitra set exist gardaina
#dicts ma chai unchangeable data type matra key ma rakhns sakinxa
#yesma search garna mildaina means yesma count bhanne method hudaina becoz yesma value euta matra hunxa
a = {1,2,3}
type(a)

set

In [5]:
#empty set
a = set()
a

set()

In [7]:
a = {1,2,3,4,3}
a

{1, 2, 3, 4}

In [8]:
a = {'a','b',1,3,".s"}
a

{'.s', 1, 3, 'a', 'b'}

In [9]:
#union 
#intersection
#difference

a = {1,2,3,4}
b = {3,4}
a.union(b)

{1, 2, 3, 4}

In [10]:
a.intersection(b)

{3, 4}

In [11]:
a.difference(b)

{1, 2}

In [12]:
#subset
b.issubset(a)

True

In [13]:
a.issubset(b)

False

In [15]:
#joint & disjoint
a = {1,2,3,4}
b = {3,4}
a.isdisjoint(b)

False

In [20]:
#yesma add(+) sub garna mildaina dicts ma pani add garna paidaina ..value haru add garna ko lagi update garinxa
a = {1,2,3,4}
b = {3,4,5}
a.update(b)
a

{1, 2, 3, 4, 5}

In [22]:
a = set()
n = int(input("Enter no of elements = "))
for i in range(n):
    b = input("ENter b = ")
    a.update({b})
print(a)

Enter no of elements = 2
ENter b = aa
ENter b = ss
{'aa', 'ss'}

In [25]:
a  = set()
n = int(input("Enter the no of elemnts = "))
for i in range(n):
    name = input("Enter name = ")
    c = int(input("Enter the marks of c = "))
    ir = int(input("Enter the marks of ir = "))
    oop = int(input("Enter the marks of oop = "))
    total = [name,c,ir,oop]
    a.update({name,c,ir,oop})
print(a)

Enter the no of elemnts = 2
Enter name = aa
Enter the marks of c = 11
Enter the marks of ir = 22
Enter the marks of oop = 33
Enter name = dd
Enter the marks of c = 44
Enter the marks of ir = 55
Enter the marks of oop = 66
{33, 66, 11, 44, 'aa', 22, 55, 'dd'}

In [26]:
a = {1,2,3}
b = 'Cat'
a.add(b)
print(a)

{1, 2, 3, 'Cat'}

In [27]:
a = {1,2,3}

a.add('CAt')
print(a)

{1, 2, 3, 'CAt'}

In [29]:
a = set()
n = int(input("Enter no of elements = "))
for i in range(n):
    b = input("ENter b = ")
    a.add(b)
print(a)

Enter no of elements = 3
ENter b = 11
ENter b = 22
ENter b = 33
{'33', '11', '22'}

In [46]:
a = {(1,2,3),(3,4)}
for i in  a:
    print(i)

(3, 4)
(1, 2, 3)

In [36]:
a = {'apple','ball','cat'}
if 'apple' in a:
    print("yes")

yes

In [37]:
a = {(1,2,3),(3,4)}
if (1,2,3) in a:
    print("yes")

yes

In [47]:
a = {'apple','ball','cat',1,2,3}
a.remove('apple')
a

{1, 2, 3, 'ball', 'cat'}

In [48]:
#string list ma change huna sakxa
#list tuple ma chnage huna sakxa
list("apple")

['a', 'p', 'p', 'l', 'e']

In [49]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [50]:
list((1,2,3,4))

[1, 2, 3, 4]

In [51]:
#yesle duplicate member allow gardaina
a = [11,22,22,33,55,66,44,33,22]
set(a)

{11, 22, 33, 44, 55, 66}

In [52]:
#yesle duplicate member haru allow grdaina so yeha bata p remove gardiyo
set("apple")

{'a', 'e', 'l', 'p'}

In [ ]:
a = ()
n = int(input("enter the no of elements = "))
for i in