In [1]:
# string bhaneko data type ho
a = "Hello World"
print(a)

Hello World

In [2]:
a = "Hello World"
type(a)

str

In [5]:
a = "Hello "
b =  "World"
a+b

'Hello World'

In [6]:
a = "Hello World\n"
print(a*5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [8]:
#immutable 
#immutable bhaneko chai change garna namilne or replace garna namilne..and mutable bhaneko chai change garna milne
a = "Hello World"
print(a[0])
print(a[-1])

H
d

In [9]:
u = ""
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter name = ")
    u = u+" "+x
print(u)

Enter the value of n = 12
Enter name = asd
Enter name = asd
Enter name = asd
Enter name = sgdjkh
Enter name = sdf
Enter name = szdxcv
Enter name = zzdx
Enter name = Zxc
Enter name = zx
Enter name = zx
Enter name = sds
Enter name = aSzd
 asd asd asd sgdjkh sdf szdxcv zzdx Zxc zx zx sds aSzd

In [15]:
u = " "
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address =input ("Enter address = ")
    u = u + " name" + " age " + " address "
print(u)

Enter the value of n = 1
Enter name = ram
Enter age = 12
Enter address = ktm
  name age  address

In [14]:
u = " "
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address =input ("Enter address = ")
    u = u+f"{name} {age } {address},"
print(u)

Enter the value of n = 2
Enter name = ram
Enter age = 12
Enter address = ktm
Enter name = shara
Enter age = 123
Enter address = pkr
 ram 12 ktm,shara 123 pkr,

In [17]:
a = "Ram Shyam Hari Ram"
a.replace('Ram','ram')

'ram Shyam Hari ram'

In [18]:
k = "Ram shyam hari Ram"
a = input("Enter what to replace = ")
b = input("Enter any  word = ")
k.replace(a,b)

Enter what to replace = Ram
Enter any  word = pra

'pra shyam hari pra'

In [19]:
k = "Ram shyam hari Ram"
if "Ram" in k:
    print("yes")
    
else:
    print("No")

yes

In [20]:
#count function
k.count('Ram')

2

In [21]:
k = "Ram shyam hari Ram"
if "Ram" in k:
    print("yes",k.count('Ram'))
    
else:
    print("No")

yes 2

In [26]:
k = "Ram shyam hari Ram"
name = input("Enter name = ")
if "name" in k:
    print("yes",k.count('name'))
    
else:
    print("No")

Enter name = asdfgh
No

In [27]:
a = "Hello World"
print(a[0:5])

Hello

In [28]:
a = "hello world"
a.upper()

'HELLO WORLD'

In [30]:
a = "HELLO WoRLD"
a.lower()

'hello world'

In [32]:
k = "Ram shyam hari Ram".upper()
name = input("Enter name = ").upper()
if "name" in k:
    print("yes",k.count('name'))
    
else:
    print("No")

Enter name = Ram
No

In [33]:
a = "Ram"
b = "Shyam"
d = 23
c = f"{a} {b} {d}"
c

'Ram Shyam 23'

In [34]:
#split le chai spacing ko kaam garxa ,yo chai string ma matra hune function ho
#string formatting bhaneko chai f bhanne variable define garera use hunxa yesle chai sabbai lai concate garxa jastai number string etc.

In [35]:
a = "Hello World"
a.split()

['Hello', 'World']

In [40]:
a = "Hello World"
a.split('l')

['He', '', 'o Wor', 'd']