In [2]:
#tuple
#concate possible
#append  and delete not possible
#fixed data are kept in tuples
#remove garna dlt garna update garna mildain
#tuple immutable ho
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
a = ('Apple','Ball','Cat')
for i in range a:
    print(i)

SyntaxError: invalid syntax (<ipython-input-2-5fffa5d38ee8>, line 2)

In [4]:
a = ('Apple','Ball','Cat')
if 'Apple' in a:
    print('Yes',a.count('Apple'))

Yes 1

In [5]:
a = (1,2,3,4)
a*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [6]:
def cal(x):
    l,b,h = x
    print(l*b*h)
x = (2,3,4)
cal(x)

24

In [7]:
#tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
type(a)

tuple

In [8]:
a = ((1,2,3),(4,5,6),(7,8,9))
type(a)
print(len(a))

3

In [9]:
#tuple lai tuple bhitra rakhna ko lagi comma use garne 
a = ()
b = (1,2,3)
c = (4,4,6)
a+(b,)+(c,)

((1, 2, 3), (4, 4, 6))

In [10]:
a = ()
for i in range(5):
    b = int(input("Enter b = "))
    c = (b,)
    a = (c,)+a
print(a)

Enter b = 1
Enter b = 2
Enter b = 3
Enter b = 4
Enter b = 5
((5,), (4,), (3,), (2,), (1,))

In [12]:
a = ()
for i in range(5):
    name =input ("Enter name = ")
    age =input ("Enter age = ")
    address =input ("Enter address = ")
    c = (name,age,address)
    a = (c,)+a
print(a)

Enter name = jhsfa
Enter age = 12
Enter address = jsdgs
Enter name = sdnmb
Enter age = 11
Enter address = hsnmnbm
Enter name = gg
Enter age = 1
Enter address = hjk
Enter name = hjdkfdh
Enter age = 111
Enter address = djsgds
Enter name = utjgjr
Enter age = 11
Enter address = fkjfjjj
(('utjgjr', '11', 'fkjfjjj'), ('hjdkfdh', '111', 'djsgds'), ('gg', '1', 'hjk'), ('sdnmb', '11', 'hsnmnbm'), ('jhsfa', '12', 'jsdgs'))

In [12]:
a = ()
for i in range(n):
    n =int(input("Enter the no of elements = "))
print(a)

Enter the no of elements = 1
()

In [15]:
#tuple bhitra list pani huna sakxa
a = ()
for i in range(2):
    name =input ("Enter name = ")
    age =input ("Enter age = ")
    address =input ("Enter address = ")
    c = [name,age,address]
    a = (c,)+a
print(a)

Enter name = jggds
Enter age = 11
Enter address = fjkkg
Enter name = hkkj
Enter age = 12
Enter address = jkhh
(['hkkj', '12', 'jkhh'], ['jggds', '11', 'fjkkg'])

In [16]:

x = (['utjgjr', '11', 'fkjfjjj'], ['hjdkfdh', '111', 'djsgds'])
x[0].append('abcd')#list ko bhitra chai append gareko tuple ko bhitra append garna paaidaina
x

(['utjgjr', '11', 'fkjfjjj', 'abcd'], ['hjdkfdh', '111', 'djsgds'])

In [17]:
#tuple lai list ma change garna sakinxa .list ma change garera feri tuple ma change garda dhher restictions haru aaudaina
#string lai pani tuple ma cjange garna sakinxa
a = (1,2,3)
list(a)

[1, 2, 3]

In [22]:
x = (('utjgjr', '11', 'fkjfjjj'), ('hjdkfdh', '111', 'djsgds'))
list(x)

[('utjgjr', '11', 'fkjfjjj'), ('hjdkfdh', '111', 'djsgds')]

In [18]:

a = (1,2,3)
a = list(a)
a.append(4)
tuple(a)

(1, 2, 3, 4)

In [21]:
#changing tuple into  list inside list
x = (('utjgjr', '11', 'fkjfjjj'), ('hjdkfdh', '111', 'djsgds'))
z = []
for i in range(len(x)):
    y = list(x[i])
    z.append(y)
print(z)

[['utjgjr', '11', 'fkjfjjj'], ['hjdkfdh', '111', 'djsgds']]

In [6]:
#result print
result = []
n = int(input("Enter the no of students = "))
for i  in range(n):
    name = input("Enter the name of student =  ")
    ir = int(input("Enter the marks of ir = "))
    c = int(input("Enter the marks of c = "))
    total = sum([ir,c])
    result.append([name,ir,c,total])
tuple(result)

Enter the no of students = 1
Enter the name of student =  gg
Enter the marks of ir = 12
Enter the marks of c = 13

(['gg', 12, 13, 25],)

In [11]:
a = ()
n = int(input("Enter the no of student = "))
for i in range(n):
    name = input("Enter the name of student = ")
    ir = int(input("Enter the marks of ir =  "))
    c = int(input("Enter the marks of c = "))
    total = sum([ir,c])
    a = list(a)
    a.append([name,ir,c,total])
tuple(a)

Enter the no of student = 1
Enter the name of student = hhg
Enter the marks of ir =  33
Enter the marks of c = 44

(['hhg', 33, 44, 77],)

In [18]:
a = ()
n = int(input("Enter the no of student = "))
for i in range(n):
    name = input("Enter the name of student = ")
    c = int(input("Enter the marks of c = "))
    ir = int(input("ENter the marks of ir = "))
    oop = int(input("Enter the marks of oop = "))
    total = sum([c,ir,oop])
    a = (name,c,ir,oop,total,)+a
print(a)

Enter the no of student = 1
Enter the name of student = 33
Enter the marks of c = 44
ENter the marks of ir = 66
Enter the marks of oop = 88
('33', 44, 66, 88, 198)

In [16]:
result = ()
n = int(input("Enter the no of students = "))
for i  in range(n):
    name = input("Enter the name of student =  ")
    ir = int(input("Enter the marks of ir = "))
    c = int(input("Enter the marks of c = "))
    total = sum([ir,c])
    result = (name,ir,c,total,)+result
print(result)

Enter the no of students = 1
Enter the name of student =  pp
Enter the marks of ir = 22
Enter the marks of c = 44
('pp', 22, 44, 66)